/* FONT fra gamle side */
@font-face {
	font-family: "avenir";
	src: url(http://www.a-hs.dk/AvenirLTStd-Light.otf) format("OpenType");
}

/* Alle sider body og html */
body, html {
	position: relative;
	height: 100%;
  width: 100%;
  background-color: #363636;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  height: 390px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}

.top_header {
  background-color: #363636;
  margin: 0 auto;
  height: 90px;
  width: 100%;
}

.top_controller {
  margin: 0 auto;
  width: 1000px;
  margin-top: 20px;
}

/* Logo */
#top_logo {
  height: 70px;
  background-image: url(../images/avantgarde_toplogo.gif);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
	margin-left: -10px;
	margin-top: -5px;
}

#top_logo2 {
	display: none;
	position: absolute;
}

/* Header-slider - nye billeder */
.bottom_controller {
  width: 1000px;
  margin: 0 auto;
}

.billede_slider {
  height: 300px;
  width: 1000px;
}

.mySlides {
  width:100%;
  height:100%;
  object-fit: cover;
}

/* Menu */
#menu {
  display: none; /* Hide menu above some resolution */
  position: fixed;
  top: 0;
  bottom: 0;
  width: 220px;
  right: -220px;
  height: 100%;
  background-color: rgba(54, 54, 54, 0.75);
  z-index: 999;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
}

#menu.active {
  -webkit-transform: translate(-13.755em, 0px);
  -moz-transform: translate(-13.755em, 0px);
  -o-transform: translate(-13.755em, 0px);
  -ms-transform: translate(-13.755em, 0px);
  transform: translate(-13.755em, 0px);
}

.menu-link {
  position: absolute;
  top: 15px;
  left: -50px;
}

.container {
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -o-transition: 0.15s ease;
	-ms-transform: 0.15s ease;
  transition: 0.15s ease;
}

.container.active { /* transform: translate, transition */
  -webkit-transform: translate(-13.725em, 0px);
  -moz-transform: translate(-13.725em, 0px);
  -o-transform: translate(-13.725em, 0px);
  -ms-transform: translate(-13.725em, 0px);
  transform: translate(-13.725em, 0px);
}

#transparent_layer {
	height:55px;
	background-color: transparent;
	width:65px;
	position:relative;
	top:-26px;
	left: -15px;
}

#menu-link-icon, #menu-link-icon:after, #menu-link-icon:before {
  position:absolute;
  width:35px;
  height:5px;
  background: rgba(54, 54, 54, 0.75);
  border-radius:20px;
}
#menu-link-icon {
  display:block;
  text-indent:-999em;
  top:25px;
}
#menu-link-icon:after, #menu-link-icon:before {
  content:"\00a0";
  left:0;
}
#menu-link-icon:before {
  top:-10px;
}
#menu-link-icon:after {
  top:10px;
}

ul {
	height:100%;
	padding: 0;
	margin: 0;
}

nav#menu {
	background-color: rgba(54, 54, 54, 0.75);
}

nav#menu ul {
	padding: 0;
}

nav#menu li {
	text-decoration: none; display: block;  border-bottom: 1px solid #fff;
}

nav#menu li a {
	display: block;
	padding: 20px 10px 20px 30px;
	color: #efefef;
	font: 17px "avenir", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -0.5px;
}

nav#menu li:hover {
	background-color:#777;
}

nav#menu li a:hover, #desktop_menu li a:hover {
	olor: rgb(54, 54, 54);
}

nav#menu li a:active, #desktop_menu li a:active {
	color: rgb(54, 54, 54);
}

.menu_bar {
  width: 100%;
  height: 50px;
  margin-top: -50px;
  position: relative;
  background: rgb(54, 54, 54);
	background: -webkit-linear-gradient(rgba(54, 54, 54, 0.75), rgb(54, 54, 54));
  background: -o-linear-gradient(rgba(54, 54, 54, 0.75), rgb(54, 54, 54));
  background: -moz-linear-gradient(rgba(54, 54, 54, 0.75), rgb(54, 54, 54));
  background: linear-gradient(rgba(54, 54, 54, 0.75), rgb(54, 54, 54));
}

#bestil_knap {
	background: rgb(87, 25, 45);
  background: -webkit-linear-gradient(rgba(87, 25, 45, 0.75), rgb(87, 25, 45));
  background: -o-linear-gradient(rgba(87, 25, 45, 0.75), rgb(87, 25, 45));
  background: linear-gradient(rgba(87, 25, 45, 0.75), rgb(87, 25, 45));
}

#bestil_knap:hover {
	background-color: rgb(255, 92, 145);
}

.menu_bar ul li {
  list-style: none;
  float: left;
  width: calc(100% / 7.05);
	height: 100%;
	padding: 0px;
}

.menu_bar ul {
  z-index: 99;
	-webkit-padding-start: 0px;
	height: 100%;
}

.menu_bar ul a {
	color: rgb(255, 255, 255);
	font: 15px "avenir", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -0.5px;
}

.menu_bar ul a:hover {
}

.menu_bar li {
	padding: 0px;
}

.menu_bar li a {
	margin: 0px;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-align: center;
}

.menu_bar li:hover {
	background-color: rgb(36, 36, 36);
}

.on_site_knap {
	background-color: #242424;
}

#spacer {
	background: #888888;
	background: -webkit-linear-gradient(rgb(136, 136, 136), rgba(136, 136, 136, 0) 99%);
  background: -o-linear-gradient(rgb(136, 136, 136), rgba(136, 136, 136, 0) 99%);
  background: -moz-linear-gradient(rgb(136, 136, 136), rgba(136, 136, 136, 0) 99%);
  background: linear-gradient(rgb(136, 136, 136), rgba(136, 136, 136, 0) 99%);
	height: 50px;
	padding: 0px;
	width: 1px;
}

/* Side controllers */
.side_controller, .side_controller_omos, .side_controller_bestil, .side_controller_kontakt, .side_controller_galleri, .side_controller_priser, .side_controller_produkter {
	margin: 0 auto;
	width: 1000px;
	background-color: #ffffff;
}

.side_controller {
	height: 1010px;
}

.side_controller_bestil {
	height: 700px;
}

.side_controller_priser {
	height: 1000px;
}

.side_controller_galleri {
	height: 1450px;
}

.side_controller_omos {
	height: 950px;
}

.side_controller_kontakt {
	height: 100%;
}

.side_controller_produkter {
	height: 800px;
}

.forside_venstre {
	width: 600px;
	height: 100%;
	float: left;
}

/* Footer */
footer {
	width: 100%;
	height: 48px;
	position: relative;
	left: 0;
	bottom: 0;
}

.footer_controller {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.footer_venstre {
	width: 600px;
	height: 48px;
	float: left;
}

.footer_hojre {
	width: 400px;
	height: 48px;
	float: left;
}

.footer_venstre p {
  float: left;
	margin-left: 5px;
	margin-top: 12px;
	padding: 0px;
	font: 16px "avenir", sans-serif;
	color: #efefef;
}

#footer_text span {
	padding: 0px 2px;
}

.footer_hojre i, .footer_hojre p {
	float: right;
	padding: 0px;
	color: #efefef;
}

.footer_hojre p {
	font: 16px "Arial", sans-serif;
	margin: 12px 5px 0px 10px;
}

#desktop_icon {
	margin-right: 5px;
	margin-top: 6px;
}

#mobil_icon {
	display: none;
}

/* FORSIDE */
/* Overskriften */
#overskrift_forside h1 {
	font: 20px "avenir", sans-serif;
	font-weight: bold;
	margin: 0px;
	padding: 40px 0px 0px 0px;
	text-align: center;
}

#overskrift_forside h2 {
	margin-top: 0px;
	font: 18px "avenir", sans-serif;
	text-align: center;
	font-style: italic;
}

/* Billede af salonen */
.inden_fullscreen img:hover {
	border: 1px #000000 solid;
}

a.inden_fullscreen img {
	margin: auto;
	width: 500px;
	height: 300px;;
	object-fit: cover;
	display: block;
	border: 1px #717171 solid;
}

.efter_fullscreen {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
}

.efter_fullscreen img {
	margin: auto;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	box-sizing: border-box;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;

	}

	a.efter_close {
	display: block;
	width:50px;
	height:50px;
	box-sizing: border-box;
	background: #ffffff;
	color: #000000;
	text-decoration: none;
	position: absolute;
	top: -80px;
	right: 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

a.efter_close:before {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: #000000;
	position: absolute;
	left: 26px;
	top:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

a.efter_close:after {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: #000000;
	position: absolute;
	left: 26px;
	top:10px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

.efter_fullscreen:target {
	opacity: 1;
	top: 0;
	bottom: 0;
}

.efter_fullscreen:target img {
	max-height: 100%;
	max-width: 100%;
}

.efter_fullscreen:target a.efter_close {
	top: 0px;
}

/* Textbox - paragraph */
.text_box p {
	padding: 0 40px;
	text-align: -webkit-center;
	font-size: 15px;
	font-family: "Arial", sans-serif;
}

strong {
	font-weight: bold;
	font-size: 16px;
}

/* Reklamefilm */
.video_controller {
	width: 500px;
	height: 300px;
	margin: auto;
	display: block;
}

.forside_hojre {
	float: right;
	width: 400px;
	height: 100%;
}

/* Åbningstider */
#aabningstider {
	padding-top: 98px;
	display: block;
	margin: 0 auto;
}

.facebook_embed {
	width: 249px;
	height: 450px;
	margin: auto;
	margin-top: 132px;
}

/* Priser */
.pris_text_venstre {
	width: 500px;
	padding-top: 50px;
	margin: auto;
}

.pris_text_venstre span {
	float: right;
}

.pris_text_venstre p {
	margin: 0;
	font: 15px "Arial", sans-serif;
}

.span1 {
	font-size: 11px;
	text-transform: uppercase;
	margin-right: 8px;
	margin-top: 4px;
}

span.span2 {
	float: left;
	font-weight: bold;
}

/* BESTIL TID */


/* GALLERI */
.gallery {
	width: 950px;
  margin: auto;
	height: 100%;
}

.img-w {
	width: calc(100% / 3);
	margin: auto;
	float: left;
	margin-top: 80px;
}

.img-w img {
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 100%;
  border: 2px #363636 solid;
}


/* PRODUKTER */
.side_controller_produkter2 {
	width: 100%;
	padding-top: 40px;
	margin: auto;
}

.produkter {
	margin: auto;
	width: calc(100% / 3.5);
	height: 380px;
	float: left;
	padding-left: 35px;
	font: 15px "Arial", sans-serif;
}

.produkter h1 {
	font: 18px "avenir", sans-serif;
	font-weight: bold;
	margin: 0px;
}

.produkter img {
	height: 150px;
	width: 100%;
	object-fit: contain;
}

/* OM OS */
/* Info text */
.text_omos_venstre {
	width: 900px;
	padding-left: 20px;
	padding-top: 4px;
}

.text_omos_venstre h1 {
	font: 18px "avenir", sans-serif;
	font-weight: bold;
}

.text_omos_venstre h2 {
	font: 15px "Arial", sans-serif;
	font-weight: bold;
}

.text_omos_venstre p {
	margin-top: -15px;
	font: 15px "Arial", sans-serif;
}

/* HR linje */
.text_omos_venstre hr {
	width: 960px;
	margin-top: 50px;
}

/* Billeder af frisører */
#eli_billede, #rik_billede {
	float: right;
	margin-top: -20px;
}

/* KONTAKT */
/* Overskrifter */
.info_kontakt {
	padding: 20px 0px 20px 20px;
}

.info_kontakt h1 {
	font: 18px "avenir", sans-serif;
	padding: 10px 0px 0px 0px;
	margin: 0;
	font-weight: bold;
}

/* Info text */
.info_kontakt p {
	font: 15px "Arial", sans-serif;
	padding: 5px 0px 10px 0px;
	margin: 0;
}

.info_kontakt2 {
	margin-top: -30px;
}

/* Google map */
#google_map {
	margin: 0;
	padding: 0;
}

/* MOBIL CSS */
@media screen and (max-width: 720px) {
	.side_controller, .side_controller_omos, .side_controller_bestil, .side_controller_kontakt, .side_controller_galleri, .side_controller_priser, .side_controller_produkter {
		width: 100%;
	}

	.side_controller {
		height: 500px;
	}

	.side_controller_bestil {
		height: 700px;
	}

	.side_controller_priser {
		height: 900px;
	}

	.side_controller_galleri {
		height: 3950px;
		margin-top: -50px;
	}

	.side_controller_omos {
		height: 1100px;
	}

	.side_controller_kontakt {
		height: 550px;
	}

	.side_controller_produkter {
		height: 1400px;
	}

	.side_controller_produkter2 {
		padding-top: 30px;
	}

	header {
		height: 100%;
	}

	section {
		height: 100%;
	}

	.bottom_header {
		display: none;
	}

	#menu {
		display: block;
	}

	.menu_bar {
		display: none;
	}

	#menu-link-icon, #menu-link-icon:after, #menu-link-icon:before {
		background-color: #ffffff; }

	.bottom_controller {
		display: none;
	}

	.top_controller, .top_header {
		width: 100%;
		height: 90px;
		margin: 0 auto;
	}

	#bestil_knap {
		display: none;
	}

	#top_logo {
		background-image: url(../images/logo_gradient_shadow.png);
		background-position: left;
		height: 80px;
		width: 75%;
		padding-top: 10px;
		margin-left: 10px;
	}

	.footer_controller p, #desktop_icon {
		display: none;
	}

	.icons_controller {
		position: relative;
		width: 50%;
		float: left;
		padding: 15px 0px;
	}

	.icons_controller a {
		text-decoration: none;
	}

	#mobil_icon {
		display: flex;
		color: #ffffff;
		margin: auto;
		width: 100%;
		justify-content: center;
	}

	.footer_controller {
		width: 100%;
		position: relative;
		margin: auto;
	}

	.footer_venstre, .footer_hojre {
		width: 100%;
		display: none;
	}

	.forside_venstre {
		width: 100%;
	}

	.forside_hojre {
		width: 100%;
		height: auto;
		background-color: #ffffff;
		padding-bottom: 20px;
	}

	.video_controller {
		display: none;
	}

	.facebook_embed {
		display: none;
	}

	a.inden_fullscreen img {
		display: none;
	}

	.gallery, .img-w {
		width: 100%;
		height: auto;
		float: left;
		margin-top: 50px;
	}

	.img-w {
		margin-top: 50px;
	}

	.img-w img {
		border-width: 0;
		object-fit: contain;
	}

	.text_box p {
		padding: 0 10px;
	}

	#aabningstider {
		width: 80%;
		padding: 0px;
		margin-top: -75px;
	}

	img {
		width: 100%;
		height: auto;
	}

	/* Priser */
	.pris_text_venstre {
		width: 90%;
		padding-top: 20px;
		margin: auto;
	}

	.pris_text_venstre span {
		float: right;
	}

	.pris_text_venstre p {
		font: 15px "Arial", sans-serif;
	}

	.span1 {
		display: none;
	}

	span.span2 {
		float: left;
	}

	.produkter {
		margin: 0 auto;
		width: 95%;
		height: 340px;
		float: left;
		padding-left: 10px;
		font: 15px "Arial", sans-serif;
	}

	.produkter h1 {
		margin: 0px;
	}

	.produkter img {
		height: 150px;
		width: 100%;
		object-fit: contain;
	}

	.text_omos_venstre {
		position: absolute;
		width: 95%;
		padding-left: 10px;
		padding-top: 4px;
		float: left;
		margin: auto;
	}

	.text_omos_venstre h1 {
		font: 20px "avenir", sans-serif;
		font-weight: bold;
	}

	.text_omos_venstre h2 {
		font: 15px "Arial", sans-serif;
		font-weight: bold;
	}

	.text_omos_venstre p {
		margin-top: -15px;
		font: 15px "Arial", sans-serif;
	}

	/* HR linje */
	.text_omos_venstre hr {
		display: none;
	}

	/* Billeder af frisører */
	.omos_billeder {
		width: 100%;
		margin: 0;
	}

	#eli_billede, #rik_billede {
		padding-top: 0px;
		padding-right: 20px;
		float: right;
		width: 120px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-top: 0;
	}

	.info_kontakt2 {
		margin-top: -30px;
	}

	#google_map {
		height: 365px;
	}
}
